:root{
    --colorCredit: #ff2f73;
    --colorButton: rgba(138,43,226,1);
    --colorBlack:rgba(0, 0, 0, .8);
    --colorBack1:#ee7752;
    --colorBack2:#ff2f73;
    --colorBack3:#4376ff;
    --colorBack4:#23d5ab;

}

 